<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vuedemo</title>
    <link rel="stylesheet" href="style.css"></link>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="script.js" defer></script>
</head>
<!--
この部分はブラウザに反映されません
-->
<body>
    <h1>テストページ</h1>
    <div id="app">
        <p>{{text}}</p>
        <p>文字数：{{text.length}}</p>
        <button v-on:click="PUSH">Push</button>
    </div>

    <div id = app2>
        <input v-model="message">
    </div>

    <div id = app3>
        <ul>
            <li v-for="color in colors">
                {{color}}
            </li>
        </ul>
    </div>
    <div id="track-text">
        <button v-on:click="PUSH" id = "track-button">click me!</button>
        <p>{{text}}</p>
    </div>
</body>
</html>

